@use "/src/styles/abstracts/" as *;

.containerHero {
  display: flex;
  flex-direction: column;
}

.titleHero {
  @include setting-hero-title;
  font-size: 48px;
  margin-bottom: 16px;
  animation: slideInFromLeft ($transition-time + 0.5s) $transition-duration;
}

.smalTextTitle {
  @include setting-hero-title;
  font-size: 24px;
  margin-bottom: 40px;
  animation: slideInFromLeft ($transition-time + 1s) $transition-duration;
}
