@use "/src/styles/abstracts" as *;

.logo {
  text-transform: capitalize;
  color: $main;
  font-weight: 800;
  max-width: 136px;
  max-height: 15px;
  transition: $transition-time;

  &:hover {
    transform: $transform-scale;
  }
}

.logoSpan {
  text-transform: capitalize;
  color: $text;
}
