@use "/src/styles/abstracts/colors" as *;

.label {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: $gray;
  gap: 8px;
  margin-bottom: 40px;
}

.input {
  padding-left: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 360px;
  min-height: 60px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: $inputs;
}

.img {
  position: absolute;
  left: 20px;
  top: 47px;
}
