@use "/src/styles/abstracts" as *;

.nav {
  margin: 0 auto;
}

.navList {
  display: flex;
  gap: 32px;
}

.navLink {
  color: $main;
  &:hover,
  &:focus {
    color: $button-hover;
  }

  transition: $transition-time $transition-duration;
}

.active {
  color: $button-hover;
}
